<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Enable Hibernate to automatically create/drop tables -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Show SQL statements in console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Specify annotated classes -->
        <mapping class="mate.academy.hibernate.relations.model.Actor"/>
        <mapping class="mate.academy.hibernate.relations.model.Country"/>
        <mapping class="mate.academy.hibernate.relations.model.Movie"/>
    </session-factory>
</hibernate-configuration>
